/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-family: "PT Sans", sans-serif;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: 0;
  border: 0;
  outline: 0;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

/* site-header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-text {
  color: #969696;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Site-main */
main{
  background: #0F0F0F;
  padding: 20px 0;
}
.main{
  display: flex;
  align-items: center;
justify-content: space-between;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-links{
  color: #969696;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 26.5px 20px;
  transition: 0.2s;
}

.menu-links:hover{
  color: #ffffff;
  background: #1f1f1f;
}
.menu-icon{
  width: 22px;
  height: 22px;
  color: #fff;
  gap: 40px;
}

/* porten-section */
